<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rak.pixellwp">

    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".PixelLwpApp"
        android:allowBackup="true"
        android:icon="@mipmap/mirror_lake_logo_square"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mirror_lake_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <service
            android:name=".cycling.CyclingWallpaperService"
            android:enabled="true"
            android:label="Cycling Wallpaper"
            android:permission="android.permission.BIND_WALLPAPER" >
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/cycling_wallpaper" />
        </service>

        <activity
            android:name=".cycling.preferences.CyclingPreferenceActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Material.Wallpaper.NoTitleBar" >
        </activity>

        <activity
            android:name=".SetWallpaperActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Material.Wallpaper.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>